#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


.controls {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  box-sizing: border-box;
}

.btn {
  border: 1px solid green;
  background: #000;
  font-family: monospace;
  font-size: 14px;
  padding: 5px 10px;
  color: #fff;
  margin: 0 5px;

}

.console {
  border: 2px dotted green;
  padding: 10px;
  height: 280px;
  position: fixed;
  top: 50px;
  right: 0;
  width: 300px;
  overflow: auto;
  font-family: monospace;
  white-space: pre;
  color: #fff;
  text-align: left;
}

.console2 {
  top: 360px
}

.left-controls {
  position: fixed;
  top: 50px;
  left: 0;
  width: 300px;
}

.control {
  border: 1px solid #fff;
  padding: 5px;
}

.control label {
  color: #fff;
  display: inline-block;
  width: 100px;
}

select {
  /* color: #fff;  */
}

.green {
  color: green;
}

.alert {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-top: 10px;
  border: 4px dotted red;
  padding: 15px;
  height: 200px;
  font-family: monospace;
  color: red;
  background-color: #ffffffc4;
  font-size: 20px;
  text-align: center;
}

.hidden {
  display: none;
}